apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 1h
  timeout: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    fullnameOverride: prometheus
    grafana:
      enabled: true
      adminPassword: changeme
      service:
        type: ClusterIP
      resources:
        requests:
          cpu: "200m"
          memory: "256Mi"
        limits:
          cpu: "1"
          memory: "512Mi"
    prometheus:
      prometheusSpec:
        retention: 30d
        resources:
          requests:
            cpu: "500m"
            memory: "2Gi"
          limits:
            cpu: "2"
            memory: "4Gi"
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: managed-csi-premium
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
    alertmanager:
      enabled: true
